body{
    background-color: black;
    background-image: url("coding.jpg");
}

#web_menu{
    background-color:black;
}

#tag_headline{
    background-color: black;
}

.menu{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}